body {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: darkblue;
}

nav {
    text-align: center;
    margin-bottom: 1rem;
}

a {
    color: darkcyan;
    text-decoration: none;
}
a:hover {
    color: firebrick;
    text-decoration: underline;
}

main {
    text-align: left;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    text-align: center;
    color: darkblue;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0.75rem auto;
}

figcaption {
    text-align: center;
    font-style: italic;
    font-size: small;
    color: gray;
}

/* Tablets */
@media screen and (min-width: 600px) and (max-width: 980px) {
    main {
        width: 92%;
    }
    img {
        max-width: 90%;
    }
}

/* laptops */
@media screen and (min-width: 981px) {
    main {
        width: 95%;
    }
    img {
        max-width: 70%;
    }
}